JAVA_HOME=/opt/java
JBOSS_HOME=/opt/wildfly
JBOSS_USER={{ username }}
WILDFLY_HOME=/opt/wildfly
WILDFLY_USER={{ username }} 
STARTUP_WAIT=0
SHUTDOWN_WAIT=0
WILDFLY_MODE=domain
WILDFLY_CONFIG=domain.xml
WILDFLY_HOST_CONFIG=host-slave.xml
WILDFLY_OPTS="-Djboss.domain.master.address={{ groups['masters'][0]}}"
LAUNCH_JBOSS_IN_BACKGROUND=1
PIDFile=/var/run/wildfly/wildfly.pid